{% extends 'licenciatarios/base.html' %}
  {% block title %}
    {{ title }}
  {% endblock %}
    {% block content %}
    <div class="row">
      <div class="col-md-12">
        <div class="widget">
          <div class="widget-heading">
            <h3 class="widget-title">Agregar licenciatario 222</h3>
          </div>
          <div class="widget-body">

            <form class='form-horizontal' method="post" >

                {% csrf_token %}
                {% for field in form %}
                  <div class='form-group'>
                    <label for="{{field.name}}" class="col-sm-3 control-label">{{field.label}}</label>
                    <div class="col-sm-9 form-control-dad">
                      {{ field }}
                      <span id="txtEmailHor-error" class="help-block">{{field.errors}}</span>

                    </div>
                  </div>
                {% endfor %}

                <input type="submit" value="Submit" />
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
